<!DOCTYPE html>
<html xmlns = "http:www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>


<body>

	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<h2>Rehena</h2>
			<button type="button" class="btn btn-list btn-primary" onclick="window.location.href='/Eventos'">EVENTOS</button>
		</div>
		<div class="col-sm-offset-3 col-sn-10">
		</div>
	</nav>
	
	<section layout:fragment="conteudo">
		<p>conteudo</p>
	</section>
	
	
	<script type="/js/jquery-3.4.1.min.js"></script>
	<script type="/js/bootstrap.min.js"></script>
	</body>
</html>