<!DOCTYPE html>
<html xmlns = "http:www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>


<body>

	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<img alt="logo" src="/img/LogoOmega.png" height = "80" width="120" style="margin-left:7%;">
		</div>
	</nav>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">Pesquisa de usuario</h1>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md-1">id</th>
							<th>Nome</th>
							<th>E-MAIL</th>
							<th class="text-center col-md-1">Data de cadastro</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="4">Nenhum usuario encontrado</td>
						</tr>			
					</tbody>
				</table>
			</div>	
		
		</div>
		</body>
	<script type="/js/jquery-3.4.1.min.js"></script>
<script type="/js/bootstrap.min.js"></script>
</html>